repository:
  name: grub
  description: Provider-agnostic storage for Go
  homepage: https://github.com/zoobzio/grub
  has_wiki: true
  has_downloads: true
  default_branch: main
  allow_squash_merge: true
  allow_merge_commit: false
  allow_rebase_merge: false
  delete_branch_on_merge: true

branches:
  - name: main
    protection:
      required_pull_request_reviews:
        required_approving_review_count: 1
        dismiss_stale_reviews: true
        require_code_owner_reviews: true
      required_status_checks:
        strict: true
        contexts:
          - CI Complete
      enforce_admins: true
      required_linear_history: true
      restrictions: null
